---
import Layout from "../layouts/Layout.astro";
---

<Layout title="cf-template">
  <main class="flex min-h-screen items-center justify-center">
    <h1 class="text-4xl font-bold">cf-template</h1>
  </main>
</Layout>
